@model List<AgencyWebSite.Entities.Team>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    
}

@Html.Action("Board" , "Dashboard")

<p></p>

@Html.Action("MonthlyEarning" , "Dashboard")

<p></p>

@Html.Action("StaffData", "Dashboard")

<p></p>

@Html.Action("LastMessages", "Dashboard")

@Html.Action("BusinessSurvey", "Dashboard")


