
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


@Html.Partial("/Views/Default/HeadPartial.cshtml")

<div><body id="page-top">
    <!-- Navigation-->
    @Html.Partial("/Views/Default/NavbarPartial.cshtml")
    <!-- Masthead-->
    @Html.Action("MastheadPartial", "Default")
    <!-- Services-->
    @Html.Action("ServicePartial", "Default")
    <!-- Portfolio Grid-->
    @Html.Action("ProjectPartial", "Default")

    <!-- About-->
    @Html.Action("AboutPartial", "Default")
    <!-- Team-->
    @Html.Action("TeamPartial", "Default")
    <!-- Clients-->
    @Html.Partial("/Views/Default/ClientPartial.cshtml")
    
    <!-- Contact-->
    @Html.Action("MessagePartial" , "Default")
    
    <!-- Footer-->
    @Html.Partial("/Views/Default/FooterPartial.cshtml")
    <!-- Portfolio Modals-->
    @Html.Action("ModalDetailPartial", "Default")

    <!-- Bootstrap core JS-->
    @Html.Partial("/Views/Default/JsPartial.cshtml")

    
</body></div>
</html>
