@model AgencyWebSite.Entities.Admin
@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Admin Güncelleme Sayfası</h4>
            <p class="card-description">Admin güncelleme işlemlerini buradan yapabilirsiniz.</p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Admin Id</label>
                    @Html.TextBoxFor(x => x.AdminId, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Adminin Şifresi</label>
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Adminin Adı</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Adminin Soyadı</label>
                    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <button type="reset" class="btn btn-light">Vazgeç</button>
            </form>
        </div>
    </div>
</div>